POSTGRES_USER=postgres
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres
POSTGRES_PORT=5432

## Specify the Protocol (http or https) and the Port and end with a slash. For example: http://localhost:3000/ or https://myapp.com/
BASE_URL_PROTOCOL=http
BASE_URL_HOST=localhost
BASE_URL_PORT=3000

PASSWORT_REQUIREMENTS_REGEX=^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\.@$!%*?&]).{8,}$
PASSWORT_REQUIREMENTS_MESSAGE=Das Passwort muss<ul class='list-disc ml-5'><li>mindestens 8 Zeichen lang sein</li><li>einen Kleinbuchstaben enthalten</li><li>einen Großbuchstaben enthalten</li><li>eine Zahl enthalten</li><li>ein Sonderzeichen enthalten</li></ul>

## More characters are better. You can change this later. 
## Generate a random password for production with `openssl rand -base64 32`
ADMIN_PASSWORD=Passwort
ADMIN_EMAIL=admin@beispiel.de
## You can also specify a fullname if you want.
## The default fullname is "Administrator".
#ADMIN_FULLNAME=Administrator

SUPPORT_MAIL_ADDRESS=support.irrenanstalt@beispiel.de

##
##  Email Configuration
##
SMTP_HOST=smtp.dein-anbieter.de
SMTP_PORT=465
SMTP_USER=deine-email@beispiel.de
SMTP_PASSWORD=dein-passwort
SENDER_MAIL_ADDRESS=irrenanstalt@beispiel.de

## `openssl rand -base64 32`
AUTH_SECRET=dein-geheimer-schluessel

####################################################################
## You don't need to change anything below this line in most cases.
####################################################################
BASE_URL=${BASE_URL_PROTOCOL}://${BASE_URL_HOST}:${BASE_URL_PORT}/
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}