:root {
  --dark-medium-contrast-color-primary: rgb(216 217 255);
  --dark-medium-contrast-color-surface-tint: rgb(190 194 255);
  --dark-medium-contrast-color-on-primary: rgb(27 32 85);
  --dark-medium-contrast-color-primary-container: rgb(135 140 200);
  --dark-medium-contrast-color-on-primary-container: rgb(0 0 0);
  --dark-medium-contrast-color-secondary: rgb(219 218 243);
  --dark-medium-contrast-color-on-secondary: rgb(35 36 55);
  --dark-medium-contrast-color-secondary-container: rgb(142 143 166);
  --dark-medium-contrast-color-on-secondary-container: rgb(0 0 0);
  --dark-medium-contrast-color-tertiary: rgb(223 215 255);
  --dark-medium-contrast-color-on-tertiary: rgb(38 29 83);
  --dark-medium-contrast-color-tertiary-container: rgb(146 137 199);
  --dark-medium-contrast-color-on-tertiary-container: rgb(0 0 0);
  --dark-medium-contrast-color-error: rgb(255 210 204);
  --dark-medium-contrast-color-on-error: rgb(84 0 3);
  --dark-medium-contrast-color-error-container: rgb(255 84 73);
  --dark-medium-contrast-color-on-error-container: rgb(0 0 0);
  --dark-medium-contrast-color-background: rgb(19 19 24);
  --dark-medium-contrast-color-on-background: rgb(228 225 233);
  --dark-medium-contrast-color-surface: rgb(19 19 24);
  --dark-medium-contrast-color-on-surface: rgb(255 255 255);
  --dark-medium-contrast-color-surface-variant: rgb(70 70 79);
  --dark-medium-contrast-color-on-surface-variant: rgb(221 219 230);
  --dark-medium-contrast-color-outline: rgb(178 177 187);
  --dark-medium-contrast-color-outline-variant: rgb(144 143 153);
  --dark-medium-contrast-color-shadow: rgb(0 0 0);
  --dark-medium-contrast-color-scrim: rgb(0 0 0);
  --dark-medium-contrast-color-inverse-surface: rgb(228 225 233);
  --dark-medium-contrast-color-inverse-on-surface: rgb(42 41 47);
  --dark-medium-contrast-color-inverse-primary: rgb(62 67 122);
  --dark-medium-contrast-color-primary-fixed: rgb(224 224 255);
  --dark-medium-contrast-color-on-primary-fixed: rgb(4 7 65);
  --dark-medium-contrast-color-primary-fixed-dim: rgb(190 194 255);
  --dark-medium-contrast-color-on-primary-fixed-variant: rgb(44 49 103);
  --dark-medium-contrast-color-secondary-fixed: rgb(225 224 249);
  --dark-medium-contrast-color-on-secondary-fixed: rgb(14 16 33);
  --dark-medium-contrast-color-secondary-fixed-dim: rgb(197 196 221);
  --dark-medium-contrast-color-on-secondary-fixed-variant: rgb(51 53 72);
  --dark-medium-contrast-color-tertiary-fixed: rgb(229 222 255);
  --dark-medium-contrast-color-on-tertiary-fixed: rgb(17 4 63);
  --dark-medium-contrast-color-tertiary-fixed-dim: rgb(201 191 255);
  --dark-medium-contrast-color-on-tertiary-fixed-variant: rgb(55 46 101);
  --dark-medium-contrast-color-surface-dim: rgb(19 19 24);
  --dark-medium-contrast-color-surface-bright: rgb(68 68 74);
  --dark-medium-contrast-color-surface-container-lowest: rgb(7 7 12);
  --dark-medium-contrast-color-surface-container-low: rgb(29 29 35);
  --dark-medium-contrast-color-surface-container: rgb(39 39 45);
  --dark-medium-contrast-color-surface-container-high: rgb(50 50 56);
  --dark-medium-contrast-color-surface-container-highest: rgb(61 61 67);
}
