:root {
  --dark-high-contrast-color-primary: rgb(240 238 255);
  --dark-high-contrast-color-surface-tint: rgb(190 194 255);
  --dark-high-contrast-color-on-primary: rgb(0 0 0);
  --dark-high-contrast-color-primary-container: rgb(185 190 253);
  --dark-high-contrast-color-on-primary-container: rgb(0 2 58);
  --dark-high-contrast-color-secondary: rgb(240 238 255);
  --dark-high-contrast-color-on-secondary: rgb(0 0 0);
  --dark-high-contrast-color-secondary-container: rgb(193 193 217);
  --dark-high-contrast-color-on-secondary-container: rgb(8 10 27);
  --dark-high-contrast-color-tertiary: rgb(243 237 255);
  --dark-high-contrast-color-on-tertiary: rgb(0 0 0);
  --dark-high-contrast-color-tertiary-container: rgb(197 187 252);
  --dark-high-contrast-color-on-tertiary-container: rgb(10 0 55);
  --dark-high-contrast-color-error: rgb(255 236 233);
  --dark-high-contrast-color-on-error: rgb(0 0 0);
  --dark-high-contrast-color-error-container: rgb(255 174 164);
  --dark-high-contrast-color-on-error-container: rgb(34 0 1);
  --dark-high-contrast-color-background: rgb(19 19 24);
  --dark-high-contrast-color-on-background: rgb(228 225 233);
  --dark-high-contrast-color-surface: rgb(19 19 24);
  --dark-high-contrast-color-on-surface: rgb(255 255 255);
  --dark-high-contrast-color-surface-variant: rgb(70 70 79);
  --dark-high-contrast-color-on-surface-variant: rgb(255 255 255);
  --dark-high-contrast-color-outline: rgb(241 238 250);
  --dark-high-contrast-color-outline-variant: rgb(195 193 204);
  --dark-high-contrast-color-shadow: rgb(0 0 0);
  --dark-high-contrast-color-scrim: rgb(0 0 0);
  --dark-high-contrast-color-inverse-surface: rgb(228 225 233);
  --dark-high-contrast-color-inverse-on-surface: rgb(0 0 0);
  --dark-high-contrast-color-inverse-primary: rgb(62 67 122);
  --dark-high-contrast-color-primary-fixed: rgb(224 224 255);
  --dark-high-contrast-color-on-primary-fixed: rgb(0 0 0);
  --dark-high-contrast-color-primary-fixed-dim: rgb(190 194 255);
  --dark-high-contrast-color-on-primary-fixed-variant: rgb(4 7 65);
  --dark-high-contrast-color-secondary-fixed: rgb(225 224 249);
  --dark-high-contrast-color-on-secondary-fixed: rgb(0 0 0);
  --dark-high-contrast-color-secondary-fixed-dim: rgb(197 196 221);
  --dark-high-contrast-color-on-secondary-fixed-variant: rgb(14 16 33);
  --dark-high-contrast-color-tertiary-fixed: rgb(229 222 255);
  --dark-high-contrast-color-on-tertiary-fixed: rgb(0 0 0);
  --dark-high-contrast-color-tertiary-fixed-dim: rgb(201 191 255);
  --dark-high-contrast-color-on-tertiary-fixed-variant: rgb(17 4 63);
  --dark-high-contrast-color-surface-dim: rgb(19 19 24);
  --dark-high-contrast-color-surface-bright: rgb(80 79 86);
  --dark-high-contrast-color-surface-container-lowest: rgb(0 0 0);
  --dark-high-contrast-color-surface-container-low: rgb(31 31 37);
  --dark-high-contrast-color-surface-container: rgb(48 48 54);
  --dark-high-contrast-color-surface-container-high: rgb(59 59 65);
  --dark-high-contrast-color-surface-container-highest: rgb(71 70 76);
}
