:root {
  --light-color-primary: rgb(85 90 146);
  --light-color-surface-tint: rgb(85 90 146);
  --light-color-on-primary: rgb(255 255 255);
  --light-color-primary-container: rgb(224 224 255);
  --light-color-on-primary-container: rgb(61 66 121);
  --light-color-secondary: rgb(92 93 114);
  --light-color-on-secondary: rgb(255 255 255);
  --light-color-secondary-container: rgb(225 224 249);
  --light-color-on-secondary-container: rgb(68 69 89);
  --light-color-tertiary: rgb(95 87 144);
  --light-color-on-tertiary: rgb(255 255 255);
  --light-color-tertiary-container: rgb(229 222 255);
  --light-color-on-tertiary-container: rgb(71 63 119);
  --light-color-error: rgb(186 26 26);
  --light-color-on-error: rgb(255 255 255);
  --light-color-error-container: rgb(255 218 214);
  --light-color-on-error-container: rgb(147 0 10);
  --light-color-background: rgb(251 248 255);
  --light-color-on-background: rgb(27 27 33);
  --light-color-surface: rgb(251 248 255);
  --light-color-on-surface: rgb(27 27 33);
  --light-color-surface-variant: rgb(227 225 236);
  --light-color-on-surface-variant: rgb(70 70 79);
  --light-color-outline: rgb(119 118 128);
  --light-color-outline-variant: rgb(199 197 208);
  --light-color-shadow: rgb(0 0 0);
  --light-color-scrim: rgb(0 0 0);
  --light-color-inverse-surface: rgb(48 48 54);
  --light-color-inverse-on-surface: rgb(242 239 247);
  --light-color-inverse-primary: rgb(190 194 255);
  --light-color-primary-fixed: rgb(224 224 255);
  --light-color-on-primary-fixed: rgb(16 20 75);
  --light-color-primary-fixed-dim: rgb(190 194 255);
  --light-color-on-primary-fixed-variant: rgb(61 66 121);
  --light-color-secondary-fixed: rgb(225 224 249);
  --light-color-on-secondary-fixed: rgb(25 26 44);
  --light-color-secondary-fixed-dim: rgb(197 196 221);
  --light-color-on-secondary-fixed-variant: rgb(68 69 89);
  --light-color-tertiary-fixed: rgb(229 222 255);
  --light-color-on-tertiary-fixed: rgb(27 17 73);
  --light-color-tertiary-fixed-dim: rgb(201 191 255);
  --light-color-on-tertiary-fixed-variant: rgb(71 63 119);
  --light-color-surface-dim: rgb(219 217 224);
  --light-color-surface-bright: rgb(251 248 255);
  --light-color-surface-container-lowest: rgb(255 255 255);
  --light-color-surface-container-low: rgb(245 242 250);
  --light-color-surface-container: rgb(239 237 244);
  --light-color-surface-container-high: rgb(234 231 239);
  --light-color-surface-container-highest: rgb(228 225 233);
}
