:root {
  --light-high-contrast-color-primary: rgb(33 39 92);
  --light-high-contrast-color-surface-tint: rgb(85 90 146);
  --light-high-contrast-color-on-primary: rgb(255 255 255);
  --light-high-contrast-color-primary-container: rgb(63 68 123);
  --light-high-contrast-color-on-primary-container: rgb(255 255 255);
  --light-high-contrast-color-secondary: rgb(41 43 61);
  --light-high-contrast-color-on-secondary: rgb(255 255 255);
  --light-high-contrast-color-secondary-container: rgb(70 72 92);
  --light-high-contrast-color-on-secondary-container: rgb(255 255 255);
  --light-high-contrast-color-tertiary: rgb(44 36 90);
  --light-high-contrast-color-on-tertiary: rgb(255 255 255);
  --light-high-contrast-color-tertiary-container: rgb(74 65 122);
  --light-high-contrast-color-on-tertiary-container: rgb(255 255 255);
  --light-high-contrast-color-error: rgb(96 0 4);
  --light-high-contrast-color-on-error: rgb(255 255 255);
  --light-high-contrast-color-error-container: rgb(152 0 10);
  --light-high-contrast-color-on-error-container: rgb(255 255 255);
  --light-high-contrast-color-background: rgb(251 248 255);
  --light-high-contrast-color-on-background: rgb(27 27 33);
  --light-high-contrast-color-surface: rgb(251 248 255);
  --light-high-contrast-color-on-surface: rgb(0 0 0);
  --light-high-contrast-color-surface-variant: rgb(227 225 236);
  --light-high-contrast-color-on-surface-variant: rgb(0 0 0);
  --light-high-contrast-color-outline: rgb(43 43 52);
  --light-high-contrast-color-outline-variant: rgb(73 72 81);
  --light-high-contrast-color-shadow: rgb(0 0 0);
  --light-high-contrast-color-scrim: rgb(0 0 0);
  --light-high-contrast-color-inverse-surface: rgb(48 48 54);
  --light-high-contrast-color-inverse-on-surface: rgb(255 255 255);
  --light-high-contrast-color-inverse-primary: rgb(190 194 255);
  --light-high-contrast-color-primary-fixed: rgb(63 68 123);
  --light-high-contrast-color-on-primary-fixed: rgb(255 255 255);
  --light-high-contrast-color-primary-fixed-dim: rgb(40 45 99);
  --light-high-contrast-color-on-primary-fixed-variant: rgb(255 255 255);
  --light-high-contrast-color-secondary-fixed: rgb(70 72 92);
  --light-high-contrast-color-on-secondary-fixed: rgb(255 255 255);
  --light-high-contrast-color-secondary-fixed-dim: rgb(48 49 68);
  --light-high-contrast-color-on-secondary-fixed-variant: rgb(255 255 255);
  --light-high-contrast-color-tertiary-fixed: rgb(74 65 122);
  --light-high-contrast-color-on-tertiary-fixed: rgb(255 255 255);
  --light-high-contrast-color-tertiary-fixed-dim: rgb(51 42 97);
  --light-high-contrast-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --light-high-contrast-color-surface-dim: rgb(186 184 191);
  --light-high-contrast-color-surface-bright: rgb(251 248 255);
  --light-high-contrast-color-surface-container-lowest: rgb(255 255 255);
  --light-high-contrast-color-surface-container-low: rgb(242 239 247);
  --light-high-contrast-color-surface-container: rgb(228 225 233);
  --light-high-contrast-color-surface-container-high: rgb(214 211 219);
  --light-high-contrast-color-surface-container-highest: rgb(200 197 205);
}
