:root {
  --light-medium-contrast-color-primary: rgb(44 49 103);
  --light-medium-contrast-color-surface-tint: rgb(85 90 146);
  --light-medium-contrast-color-on-primary: rgb(255 255 255);
  --light-medium-contrast-color-primary-container: rgb(99 104 162);
  --light-medium-contrast-color-on-primary-container: rgb(255 255 255);
  --light-medium-contrast-color-secondary: rgb(51 53 72);
  --light-medium-contrast-color-on-secondary: rgb(255 255 255);
  --light-medium-contrast-color-secondary-container: rgb(107 107 129);
  --light-medium-contrast-color-on-secondary-container: rgb(255 255 255);
  --light-medium-contrast-color-tertiary: rgb(55 46 101);
  --light-medium-contrast-color-on-tertiary: rgb(255 255 255);
  --light-medium-contrast-color-tertiary-container: rgb(110 101 160);
  --light-medium-contrast-color-on-tertiary-container: rgb(255 255 255);
  --light-medium-contrast-color-error: rgb(116 0 6);
  --light-medium-contrast-color-on-error: rgb(255 255 255);
  --light-medium-contrast-color-error-container: rgb(207 44 39);
  --light-medium-contrast-color-on-error-container: rgb(255 255 255);
  --light-medium-contrast-color-background: rgb(251 248 255);
  --light-medium-contrast-color-on-background: rgb(27 27 33);
  --light-medium-contrast-color-surface: rgb(251 248 255);
  --light-medium-contrast-color-on-surface: rgb(17 17 22);
  --light-medium-contrast-color-surface-variant: rgb(227 225 236);
  --light-medium-contrast-color-on-surface-variant: rgb(53 53 62);
  --light-medium-contrast-color-outline: rgb(82 82 91);
  --light-medium-contrast-color-outline-variant: rgb(109 108 118);
  --light-medium-contrast-color-shadow: rgb(0 0 0);
  --light-medium-contrast-color-scrim: rgb(0 0 0);
  --light-medium-contrast-color-inverse-surface: rgb(48 48 54);
  --light-medium-contrast-color-inverse-on-surface: rgb(242 239 247);
  --light-medium-contrast-color-inverse-primary: rgb(190 194 255);
  --light-medium-contrast-color-primary-fixed: rgb(99 104 162);
  --light-medium-contrast-color-on-primary-fixed: rgb(255 255 255);
  --light-medium-contrast-color-primary-fixed-dim: rgb(75 80 136);
  --light-medium-contrast-color-on-primary-fixed-variant: rgb(255 255 255);
  --light-medium-contrast-color-secondary-fixed: rgb(107 107 129);
  --light-medium-contrast-color-on-secondary-fixed: rgb(255 255 255);
  --light-medium-contrast-color-secondary-fixed-dim: rgb(82 83 104);
  --light-medium-contrast-color-on-secondary-fixed-variant: rgb(255 255 255);
  --light-medium-contrast-color-tertiary-fixed: rgb(110 101 160);
  --light-medium-contrast-color-on-tertiary-fixed: rgb(255 255 255);
  --light-medium-contrast-color-tertiary-fixed-dim: rgb(86 77 134);
  --light-medium-contrast-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --light-medium-contrast-color-surface-dim: rgb(200 197 205);
  --light-medium-contrast-color-surface-bright: rgb(251 248 255);
  --light-medium-contrast-color-surface-container-lowest: rgb(255 255 255);
  --light-medium-contrast-color-surface-container-low: rgb(245 242 250);
  --light-medium-contrast-color-surface-container: rgb(234 231 239);
  --light-medium-contrast-color-surface-container-high: rgb(222 220 227);
  --light-medium-contrast-color-surface-container-highest: rgb(211 208 216);
}
